* {
    margin: 0;
    box-sizing: border-box;
}
/* reset */


body {
    font-family: sans-serif;

    background-color: #F6F8F9;
}

/* header */
header {
    padding: 12px 28px;

    margin-bottom: 36px;

    background-color: white;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;

    vertical-align: middle;

    font-size: 48px;
    font-weight: bold;
}
/* fine header */


/* main */
main {
    

    width: 70%;

    margin-left: auto;
    margin-right: auto;


    background-color: white;
}

#buttons {
    /* border: 1px solid red;
    test */

    padding: 22px 48px;

    border-bottom: 2px solid #f5f7f8;
}

button {
    padding: 8px 16px;

    border-radius: 6px;
    border: 3px solid #ced3d7;

    background-color: transparent;

    color: #ced3d7;
    font-weight: bold;
}

.btn-primary {
    border-color: #47acf0;

    background-color: #47acf0;
    color: white;
}

/* fine main */



/* lista task */
#tasks-container {
    padding: 36px 48px;
}

.task-group {
    margin-bottom: 36px;
}


h2 {
    color: #454952;
    font-size: 26px;

    /* margin-bottom: 26px; */
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 14px;

    font-size: 22px;
}

.icon {
    display: inline-block;

    height: 26px;
    width: 26px;

    border: black 1px solid;
    border-radius: 50%;

    font-size: 0.7em;
    text-align: center;
}

.check {
    color: #61BEA7;
    border-color: #61BEA7;
}

.cross {
    color: #E7372F;
    border-color: #E7372F;
}


/* categorie dei task */
.category {
    padding: 10px 16px;

    border-radius: 16px;
    
    background-color: black;
    color: white;

    font-size: 0.6em;

}

.cat-editorial {
    background-color: #45aae9;
}

.cat-goals {
    background-color: #9b72e3;
}

.cat-recruiting {
    background-color: #64bfa8;
}

.cat-mobile {
    background-color: #f19d33;
}
/* fine categorie dei task */

/* fine lista task */